@model AccountDetailsViewModel

@{
    ViewData["Title"] = $"Bank - Account Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="accounts">
    <h4>Account Details</h4>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">ID</h5>
            <p class="card-text">@Model.AccountId</p>
            <h5 class="card-title">Balance</h5>
            <p>@Model.DisplayBalance</p>
            <h5 class="card-title">Created</h5>
            <p class="card-text">@Model.DisplayCreated</p>
            <a asp-controller="Accounts" asp-action="Deposit" asp-route-id="@Model.AccountId" class="btn btn-primary">Deposit</a>
            <a asp-controller="Accounts" asp-action="Withdrawal" asp-route-id="@Model.AccountId" class="btn btn-primary">Withdrawal</a>
            <a asp-controller="Accounts" asp-action="Transfer" asp-route-id="@Model.AccountId" class="btn btn-primary">Transfer</a>
        </div>
    </div>
    <h4>Transactions</h4>
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Type</th>
                <th scope="col">Amount</th>
                <th scope="col">Balance</th>
            </tr>
        </thead>
        @foreach (var transaction in Model.Transactions)
        {
            <tbody>
                <tr>
                    <td>@transaction.DisplayDate</td>
                    <td>@transaction.Type</td>
                    <td>@transaction.DisplayAmount</td>
                    <td>@transaction.DisplayBalance</td>
                </tr>
            </tbody>
        }
    </table>
    @if (Model.DisplayLoadButton())
    {
        <div class="text-center">
            <button onclick="loadTransactions(@Model.AccountId)" class="btn btn-primary btn-lg">Load</button>
        </div>
    }
</div>

<script>
    var startPos = 0;
    function loadTransactions(id) {
        startPos += 20;
        var url = `/Accounts/LoadTransactions?id=${id}&startPosition=${startPos}`;
        fetch(url).then(res => res.text()).then(data => {
            $('.table > tbody:last-child').append(data);
        });
    };
</script>