@model AccountDepositViewModel

@{
    ViewData["Title"] = $"Deposit - Account {Model.AccountId}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="accounts">
    <h4>Deposit</h4>
    <form asp-controller="Accounts" asp-action="Deposit" method="post">

        <input type="hidden" asp-for="@Model.AccountId" />

        <div class="form-group">
            <label asp-for="@Model.Balance"></label>
            <input type="text" value="@Model.DisplayBalance" class="form-control" />
        </div>

        <fieldset disabled>
            <div class="form-group">
                <label asp-for="@Model.AccountId"></label>
                <input type="text" value="@Model.AccountId" class="form-control" />
            </div>
        </fieldset>

        <div class="form-group">
            <label asp-for="@Model.Amount"></label>
            <input type="text" asp-for="@Model.Amount" value="@string.Empty" class="form-control" />
        </div>

        <button type="submit" class="btn btn-primary">Deposit</button>
        <a asp-controller="Accounts" asp-action="AccountDetails" asp-route-id="@Model.AccountId" class="btn btn-primary">Back</a>
    </form>
</div>
