@model AccountTransferViewModel

@{
    ViewData["Title"] = $"Transfer - Account {Model.FromAccountId}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="accounts">
    <h4>Transfer</h4>
    <form asp-controller="Accounts" asp-action="Transfer" method="post">

        <input type="hidden" asp-for="@Model.FromAccountId" />
        <input type="hidden" asp-for="@Model.ToAccountId" />

        <fieldset disabled>
            <div class="form-group">
                <label asp-for="@Model.Balance"></label>
                <input type="text" value="@Model.DisplayBalance" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="@Model.FromAccountId"></label>
                <input type="text" value="@Model.FromAccountId" class="form-control" />
            </div>
        </fieldset>

        <div class="form-group">
            <label asp-for="@Model.ToAccountId"></label>
            <select asp-items="@Model.ToAccountOptions" asp-for="@Model.ToAccountId" class="form-control"></select>
        </div>

        <div class="form-group">
            <label asp-for="@Model.Amount"></label>
            <input type="text" asp-for="@Model.Amount" value="@string.Empty" class="form-control" />
        </div>

        <button type="submit" class="btn btn-primary">Transfer</button>
        <a asp-controller="Accounts" asp-action="AccountDetails" asp-route-id="@Model.FromAccountId" class="btn btn-primary">Back</a>
    </form>
</div>