@model CreateWithdrawalViewModel

@{
    ViewData["Title"] = "Withdrawal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="transaction">
    <div class="container">
        <div class="wrapper">
            <div>
                <h1>Withdrawal</h1>
            </div>
            <form asp-controller="Account" asp-action="Withdrawal" method="post" id="form">

                <input type="hidden" asp-for="@Model.AccountId" />

                <div class="form-group">
                    <label asp-for="@Model.AccountId"></label>
                    <span asp-validation-for="@Model.AccountId"></span>
                    <input type="text" value="Account #@Model.AccountId" class="account-number" readonly />
                </div>

                <div class="form-group">
                    <label asp-for="@Model.Amount"></label>
                    <span asp-validation-for="@Model.Amount"></span>
                    <input type="text" asp-for="@Model.Amount" id="input" maxlength="15" required />
                </div>

                <div class="form-group">
                    <input type="submit" value="Withdrawal" />
                </div>
            </form>
        </div>
    </div>
</div>

