@model CreateWithdrawalViewModel

@{
    ViewData["Title"] = "Withdrawal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="transaction">
    <div class="container">
        <div class="wrapper">
            <div>
                <h1>Withdrawal</h1>
            </div>
            <form asp-controller="Account" asp-action="Withdrawal" method="post">
                <div asp-validation-summary="All"></div>
                <input type="hidden" asp-for="@Model.AccountId" />

                <div class="form-group">
                    <label asp-for="@Model.Balance"></label>
                    <input type="text" value="@Model.DisplayBalance" readonly />
                </div>

                <div class="form-group">
                    <label asp-for="@Model.AccountId"></label>
                    <input type="text" value="@Model.AccountId" class="account-number" readonly />
                </div>

                <div class="form-group">
                    <label asp-for="@Model.Amount"></label>
                    <input type="text" asp-for="@Model.Amount" value="@string.Empty" />
                </div>

                <div class="form-group">
                    <input type="submit" value="Withdrawal" />
                </div>
            </form>
        </div>
        <div class="return-wrapper">
            <a asp-controller="Account" asp-action="AccountDetails" asp-route-id="@Model.AccountId">Back</a>
        </div>
    </div>
</div>
