@model UserProfileViewModel

@{
    ViewData["Title"] = $"User Profile - {Model.Email}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="users">
    <h4>Profile</h4>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">ID</h5>
            <p class="card-text">@Model.UserId</p>
            <h5 class="card-title">Username</h5>
            <p class="card-text">@Model.Username</p>
            <h5 class="card-title">Email</h5>
            <p class="card-text">@Model.Email</p>
            <h5 class="card-title">Role</h5>
            <p class="card-text">@Model.Role</p>
            <a asp-controller="Users" asp-action="EditUser" asp-route-id="@Model.UserId" class="btn btn-primary">Edit</a>
            <a asp-controller="Users" asp-action="DeleteUser" asp-route-id="@Model.UserId" class="btn btn-primary">Delete</a>
            <a asp-controller="Users" asp-action="Index" class="btn btn-primary">Back</a>
        </div>
    </div>
</div>



