@model CustomerProfileViewModel

@{
    ViewData["Title"] = $"Profile - {Model.FirstName} {Model.LastName}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="customers">
    <h4>@Model.FirstName @Model.LastName</h4>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">ID</h5>
            <p class="card-text">@Model.CustomerId</p>
            <h5 class="card-title">Contact</h5>
            <p class="card-text">@Model.Email</p>
            <p>@Model.PhoneCountryCode @Model.Phone</p>
            <h5 class="card-title">Gender</h5>
            <p>@Model.DisplayGender</p>
            <h5 class="card-title">Birthday</h5>
            <p>@Model.DisplayBirthday</p>
            <h5 class="card-title">Location</h5>
            <p>@Model.Address</p>
            <p>@Model.PostalCode, @Model.City</p>
            <p>@Model.Country, @Model.CountryCode</p>
            <a asp-controller="Customers" asp-action="EditCustomer" asp-route-id="@Model.CustomerId" class="btn btn-primary">Edit</a>
            <a asp-controller="Customers" asp-action="Index" class="btn btn-primary">Back</a>
        </div>
    </div>
    <h4>@Model.FirstName's Accounts</h4>
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Balance</th>
                <th scope="col">Created</th>
                <th scope="col">Manage</th>
            </tr>
        </thead>
        @foreach (var account in Model.Accounts)
        {
            <tbody>
                <tr>
                    <td>@account.AccountId</td>
                    <td>@account.DisplayBalance</td>
                    <td>@account.DisplayCreated</td>
                    <td>
                        <a asp-controller="Accounts"
                           asp-action="AccountDetails"
                           asp-route-id="@account.AccountId">Manage</a>
                    </td>
                </tr>
            </tbody>
        }
    </table>
    <p>Total Balance: <strong>@Model.DisplayTotalBalance</strong></p>
</div>

