@model TopCustomerListViewModel

@{
    ViewData["Title"] = "Bank - Top Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="customers">
    <h4>Top 10 customers in @Model.Country</h4>
    <table class="table table-bordered table-responsive-sm">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Country</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model.Customers)
            {
                <tr>
                    <td>@customer.CustomerId</td>
                    <td>@customer.Fullname</td>
                    <td>@customer.Country</td>
                    <td>
                        <a asp-controller="Customers"
                           asp-action="CustomerProfile"
                           asp-route-id="@customer.CustomerId">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

