@model TopCustomerListViewModel

@{
    ViewData["Title"] = "Bank Application - Top Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="customer-list">
    <div class="container">
        <h1>Top 10 wealthiest customers in @Model.Country</h1>
        <table id="customers-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Country</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var customer in Model.Customers)
                {
                    <tr>
                        <td>@customer.CustomerId</td>
                        <td>
                            <a asp-controller="Customers"
                               asp-action="CustomerProfile"
                               asp-route-id="@customer.CustomerId"
                               class="customer-name">
                                @customer.Fullname
                        </a>
                    </td>
                    <td>@customer.Country</td>
                    <td>
                        <a asp-controller="Customers"
                           asp-action="CustomerProfile"
                           asp-route-id="@customer.CustomerId"
                           class="customer-details">
                            Details
                        </a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</section>

